@model BlogApp.ViewModels.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label for="OldPassword">Current Password</label>
                            <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="NewPassword">New Password</label>
                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm New Password</label>
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var message = $("#Message").val();
        if (message != "") {
            $.toaster(message, 'Success', 'success');
        }
    })
</script>
