@{
    ViewData["Title"] = "Privacy Policy - LinkUp";
}

            <h1>@ViewData["Title"]</h1>
            <p>At LinkUp, we take your privacy seriously. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website www.linkup.com and our mobile application (collectively the "Platform"). Please read this Privacy Policy carefully. If you do not agree with the terms of this Privacy Policy, please do not access the Platform.</p>

            <h2>Information We Collect</h2>
            <p>We collect information from you when you register on our Platform, subscribe to our newsletter, respond to a survey, fill out a form, or enter information on our Platform. The information we collect may include your name, email address, mailing address, phone number, and other personal or non-personal information.</p>

            <h2>How We Use Your Information</h2>
            <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the Platform, or use certain other features of the Platform in the following ways:</p>
            <ul>
                <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                <li>To improve our Platform in order to better serve you.</li>
                <li>To allow us to better service you in responding to your customer service requests.</li>
                <li>To administer a contest, promotion, survey, or other Platform feature.</li>
                <li>To send periodic emails regarding your order or other products and services.</li>
            </ul>

            <h2>Third-Party Disclosure</h2>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our Platform, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>
       

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+zL/DfjDExzr5ii+oNX+2BC8k+2xg5GzpOeJUVh" crossorigin="anonymous"></script>
